
div{
	width: 50%;
	height: 100px;
	border: 1px solid black;
}

div.dimension{
	min-width: 300px;
	max-width: 400px;
	background: blue;

	margin: 20px /*50px 100px 3px
	margin: 20px 50px 100% 3%*/;
	/*
	una cifra: a todos lados.
	dos cifras: 1 arriba/abajo 2 izquierda/derecha
	cuatro cifras: 1 arriba 2 derecha 3 abajo 4 izquierda
	se pueden mezclar*/
	margin-bottom: 60px;
	margin-left: 15px;
	margin-right: 20px;
	margin-top: 0.5%;

	padding: 5px;
	padding: 10px 20px;
	padding: 30px 50px 3% 15%; 
}

p{
	border: 1px solid red;
	background: white;
}

